__pycache__/
*.py[cod]
node_modules/
*.class
*.jar
target/
bin/
obj/
*.log
.DS_Store
Thumbs.db
.vscode/
.idea/
.cargo/
venv/
.venv/
*.egg-info/
.coverage
htmlcov/
# KAF harness runtime output (created on the runner, never committed)
cellenv/
runs/
